<div class="about-book-backdrop" data-modal=""> 
        <div class="modal about-book-window" data-modal-window=""> 
          <button class="about-book-close-btn" data-modal-close="" aria-label="Close modal">
            <svg class="about-book-close-btn-icon" width="24" height="24"> 
            <use href="./img/symbol-defs.svg#icon-x" viewBox="0 0 32 32">
                "></use> </svg>
             </button>
        <div class="about-book-render-book"> 
           <img class="popup-book-image" src="" alt="cover" width="192">
           <div class="popup-text-content">
            <h2 class="popup-book-title"></h2>
            <h3 class="popup-book-author"></h3> 
            <p class="popup-book-review"></p> 
        <ul class="popup-shopping-links">
           <li> 
            <a href="#" target="blank" rel="nofollow noopener noreferrer" aria-label="Link to shop" class="amazon popup-shopping-links-icon">
                <svg class="icon-amazon" width="62" > 
                    <use href="./img/symbol-defs.svg#icon-amazon"></use> </svg>
            </a> </li> 
           <li> 
            <a href="#" target="blank" rel="nofollow noopener noreferrer" aria-label="Link to shop" class="book popup-shopping-links-icon"> 
                <svg class="icon-book" width="24" height="24"> 
                    <use href="./img/symbol-defs.svg#icon-ibooks"></use> </svg>
        </a> </li> 
        </ul>
        </div>
        </div>
        <div class="about-book-add-button">
            <button type="button" class="modal-btn-add-to-shopinglist" id="add" aria-label="Add card to shopping list">Add to shopping list</button> 
        <p class="under-button-text">Congratulations! You have added the book to the shopping list. To delete, press the button “Remove from the shopping list”.</p>
         </div>