<div class="about-book-backdrop" data-modal=""> 
        <div class="modal about-book-window" data-modal-window=""> 
          <button class="about-book-close-btn" data-modal-close="" aria-label="Close modal">
            <svg class="about-book-close-btn-icon" width="24" height="24"> 
            <use href="icon-x-close"></use> </svg>
             </button>
        <div class="about-book-render-book"> 
           <img class="popup-book-image" src="" alt="book-cover" width="192">
           <div class="popup-text-content">
            <h2 class="popup-book-title">ATOMIC HABITS</h2>
            <h3 class="popup-book-author">James Clear</h3> 
            <p class="popup-book-review"></p> 
        <ul class="popup-shopping-links">
           <li> 
            <a href="amazon" target="blank" rel="nofollow noopener noreferrer" aria-label="Link to shop" class="amazon popup-shopping-links-icon">
            <img src="" srcset="" alt="Logo of shop" width="62">
            </a> </li> 
           <li> 
            <a href="" target="blank" rel="nofollow noopener noreferrer" aria-label="Link to shop" class="book popup-shopping-links-icon"> 
            <img src="" srcset="" alt="Logo of shop" width="33"> 
        </a> </li> 
           <li> 
            <a href="" target="blank" rel="nofollow noopener noreferrer" aria-label="Link to shop" class="bookShop popup-shopping-links-icon"> 
                <img src="" srcset="" alt="Logo of shop" width="30"> 
            </a> </li> 
        </ul>
        </div>
         </div> 
         <div class="about-book-add-button">
        <button type="button" class="disabled modal-btn-add-to-shopinglist" id="" aria-label="Add card to shopping list" disabled="">Add to shopping list</button> 
         </div> </div> </div>
