<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <title>Shopping List Pagination</title>
</head>
<body>
    <div id="shopping-list-pagination" class="shoping-pagination"> </div>
    <div id="tui-pagination-container" class="tui-pagination"></div>

    <script type="module" src="../js/pagination.js"></script>
</body>
</html>