*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  font-family: 'DM Sans', sans-serif;
}

.header a {
  color: currentColor;
  text-decoration: none;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header button {
  cursor: pointer;
}

.header img {
  display: block;
}

.header {
  z-index: 2000;
  position: relative;
  top: 0;
  left: 0;
  border: 1.5px solid var(--header-border-color);
  border-radius: 0 0 8px 8px;
  width: 100%;
  background: var(--header-color);
  margin: 0 0 40px 0;
  transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease;
}

.header-container {
  height: 28px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

.icon-Bookshelf {
  fill: var(--font-color);
}

.header-logo-link {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  width: 109px;
  height: 28px;
}

.header-logo {
  width: 24px;
  height: 24px;
}

.theme-switch-menu-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 82px;
  height: 28px;
}

/*==========================theme-switch====================*/
/* .theme-switch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent;
    width: 40px;
    height: 24px;    
} */

/* .theme-switch input[type="checkbox"] {
    display: none;
}

.theme-switch label {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 20px;
    background:linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
    border-radius: 10px;    
    box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.theme-switch label:hover {
    background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);    
}

.theme-switch label::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 1px;
    width: 18px;
    height: 18px;
    background: linear-gradient(180deg, #fff 0%, #f7f7f7 100%);;
    border-radius: 50%;
    transition: transform 0.3s ease;    
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.theme-switch input:checked + label::before {
    transform: translateX(20px);
} */

/*===========================container-switch-black=======================*/
.container-switch-black {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--header-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-switch-black button {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

.switch-black {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch-black input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-black {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.slider-black:hover {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}

.slider-black:before {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  left: 1px;
  /* bottom: 2px; */
  top: 1px;
  right: 1px;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider-black:before {
  -webkit-transform: translateX(20px);
  /* -ms-transform: translateX(52px);
    transform: translateX(55px); */
  background: white;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-black.round {
  border-radius: 50px;
}

.slider-black.round:before {
  border-radius: 50%;
}

/*==============================================*/

.hidden {
  display: none;
}

/* button.header-mob-menu-btn.js-open-menu {
    display: flex;
    justify-content: start;
    align-items: center;    
    background-color: transparent;
    border: transparent;
    width: 28px;
    height: 28px;
    padding: 0px;
    margin: 0px;
} */

.header-mob-menu-btn.js-open-menu {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: transparent;
  border: transparent;
  width: 28px;
  height: 28px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

/* button.header-mob-menu-btn :hover {
    stroke: #4F2EE8;
} */

.header-mob-menu-btn :hover {
  stroke: #4f2ee8;
}

.header-menu-icon {
  stroke: var(--font-color);
}

/* .nav {
    display: none;
} */

.container-modal-menu a {
  color: currentColor;
  text-decoration: none;
}

.container-modal-menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-modal-menu img {
  display: block;
}

.container-modal-menu {
  z-index: 1999;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-modal-menu {
  position: fixed;
  width: 375px;
  height: 100vh;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
  top: 0;
  left: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-modal-menu:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/Group-min.png');
  background-size: 450px 438px;
  background-repeat: no-repeat;
  background-position: center bottom;
  /* transform: rotate(15deg); */
  z-index: -1;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-modal-menu:before {
    background-image: url('../img/Group-2x-min.png');
  }
}

.header-modal-list {
  margin: 247px 128px 0 128px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 118px;
  height: 70px;
  gap: 16px;
  padding: 0;
}

.header-modal-link-one-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 36px;
  padding: 8px 16px;
  width: 72px;
  height: 34px;
  background-color: #eac645;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
}

.header-modal-link.header-modal-link-shopping {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  gap: 4px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  fill: #fff;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 375px) {
  .header {
    max-width: 768px;
    width: 100%;
    height: 64px;
    padding: 18px 20px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 1440px;
    width: 100%;
    height: 72px;
    padding: 18px 32px;
  }

  .header-container {
    height: 34px;
  }

  .header-logo-link {
    margin-right: 40px;
  }

  .nav {
    display: block;
  }

  .list.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    width: 206px;
    height: 34px;
    margin-right: 265px;
  }

  .current-page {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 36px;
    padding: 8px 16px;
    width: 72px;
    height: 34px;
    background-color: #eac645;
  }

  .nav-link-home {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111;
    display: block;
  }

  .nav-link-shopping {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111;
    fill: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    padding-top: 26px;
    padding-bottom: 26px;
    width: 118px;
    height: 20px;
  }

  .nav-item {
    color: var(--font-color);
  }

  /* button.header-mob-menu-btn.js-open-menu {    
    display:none;
} */
}

@media screen and (min-width: 1440px) {
  .header {
    max-width: 100vw;
    width: 100%;
    padding: 18px 24px;
  }

  .header-logo-link {
    margin-right: 76px;
  }

  .list.nav-list {
    gap: 24px;
    width: 214px;
    height: 34px;
    margin-right: 890px;
  }
}
