ul {
  list-style: none;
  padding-left: 0px;
}

.books-container-all-cat-block {
  display: flex;
  flex-direction: column;
}

.home-menu-main-container {
  margin-left: 20px;
  margin-left: 20px;
  max-width: 335px;
}

.container {
  width: 375px;
  font-family: 'DM Sans';
  display: flex;
  flex-direction: column;
}

.books-container-all-cat {
  width: 335px;
  display: flex;
  flex-direction: column;
}

.books-container-one-cat {
  width: 335px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0px;
  padding-left: 0px;
  position: relative;
}

.container-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -4%;
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--font-color);
}

.container-title span,
.last-word {
  color: #4f2ee8;
}
.cat-books-btn {
  display: flex;
  flex-direction: column;
}
.container-category-all {
  margin-top: 40px;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 3%;
  color: #b4afaf;
  text-transform: uppercase;
}

.btn-seemore {
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -1%;
  padding: 14px 28px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  background-color: transparent;
  justify-self: flex-end;
  align-self: flex-end;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--font-color);
}

.btn-seemore:hover,
.btn-seemore:focus,
.scroll-up:hover,
.scroll-up:focus,
.back-to-all-cat:hover,
.back-to-all-cat:focus {
  background-color: #4f2ee8;
  color: #fff;
}

.scroll-up {
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -1%;
  padding: 14px 28px;
  border: 2px solid #2ee888;
  border-radius: 40px;
  background-color: transparent;
  justify-self: flex-end;
  align-self: flex-end;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  bottom: 100px;
  right: 80px;
  z-index: 1;
}

.back-to-all-cat {
  font-family: 'DM Sans';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -1%;
  padding: 14px 28px;
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--font-color);
  margin-top: 50px;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

.book-item {
  margin-top: 0px;
  padding-left: 0px;
}

.book-item-img {
  margin-bottom: 14px;
}

.book-item-title {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.13;
  letter-spacing: -4%;
  text-transform: uppercase;
  color: var(--font-color);
}

.book-item-author {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.17;
  letter-spacing: -4%;
  text-transform: capitalize;
  color: #b4afaf;
  margin-bottom: 8px;
}

.container-category-one {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -4%;
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--font-color);
}

.book-item-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.hidden-overflow {
  background-color: #eac645;
  width: 100%;
  height: 100%;
  padding: 34px 32px;
  font-family: 'DN Sans';
  font-weight: 500;
  text-align: center;
  position: absolute;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.02em;
  text-align: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  color: #111111;
}

.book-item:hover .hidden-overflow,
.book-item:focus .hidden-overflow {
  transform: translateY(80%);
  top: 0px;
}

/* ================================================================ */
/* ========================MEDIA  768 PX ================================== */

@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }

  .cat-books-btn {
    width: 704px;
  }

  .books-container-all-cat-block-bpt {
    display: flex;
    flex-direction: row;
    flex: calc((100% - 50px) / 3);
    gap: 0 25px;
  }

  ul.book-item-block {
    width: 218px;
  }

  img.book-image {
    width: 218px;
    height: 316px;
  }

  .books-container-one-cat-block {
    display: flex;
    flex-direction: row;
    gap: 0 25px;
    flex-wrap: wrap;
  }

  .books-container-one-cat {
    width: 704px;
  }

  .books-container-one-cat {
    width: 704px;
  }

  .hidden-overflow {
    background-color: #eac645;
    width: 100%;
    height: 100%;
    padding: 24px 32px;
  }

  .book-item:hover .hidden-overflow {
    transform: translateY(75%);
  }

  .home-menu-support {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 704px;
  }

  .home-menu-main-container {
    margin-left: 40px;
    margin-left: 40px;
    max-width: 704px;
  }
}

/* ================================================================ */
/* ========================MEDIA  1440 PX ================================== */

@media (min-width: 1158px) {
  .container {
    max-width: 1440px;
    margin-left: 40px;
  }

  .cat-books-btn {
    width: 996px;
  }

  .books-container-all-cat-block-bpt {
    display: flex;
    flex-direction: row;
    width: calc((100% - 96px) / 5);
    gap: 0 24px;
  }

  ul.book-item-block {
    width: 180px;
  }

  img.book-image {
    width: 180px;
    height: 256px;
  }

  .books-container-one-cat-block {
    display: flex;
    flex-direction: row;
    gap: 0 24px;
    flex-wrap: wrap;
  }

  .books-container-one-cat {
    width: 996px;
  }

  .books-container-all-cat {
    width: 996px;
  }

  .hidden-overflow {
    background-color: #eac645;
    width: 100%;
    height: 100%;
    padding: 24px 32px;
  }

  .book-item:hover .hidden-overflow,
  .book-item:focus .hidden-overflow {
    transform: translateY(70%);
  }

  .home-menu-main-container {
    display: flex;
  }

  .home-menu-support {
    justify-content: unset;
    display: flex;
    flex-direction: column;
    gap: 86px;
    width: 356px;
  }

  div#slider-container.slider-container {
    height: 472px;
  }
}
