.about-book-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  z-index: 1000;
  opacity: 0;
}

.is-active {
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-book-window {
  position: relative;
  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  width: 336px;
  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  background: var(--modal-body-color);
  border: 1px solid var(--header-border-color);
  border-radius: 20px;
}

.about-book-render-book {
  gap: 24px;
}

.popup-book-image {
  object-fit: contain;
  align-items: stretch;
  width: 287px;
  margin-bottom: 14px;
}

.popup-text-content {
  width: 279px;
  justify-content: flex-start;
}

.popup-book-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: var(--font-color);
  margin-bottom: 8px;
}

.popup-book-author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #b4afaf;
  margin-bottom: 18px;
}

.popup-book-review {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: var(--font-color);
  margin-bottom: 14px;
}

.popup-shopping-links {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  gap: 20px;
  text-align: center;
  align-items: center;
}

.icon-amazon {
  fill: var(--font-color);
}

.popup-shopping-links-icon {
  filter: grayscale(100%);

  :hover,
  :focus {
    filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
    transition-duration: 250ms;
  }

  .amazon {
    filter: brightness(0) invert(1);
    &:hover,
    &:focus {
      filter: brightness(0) invert(1) drop-shadow(0px 3px 3px #ffffff85);
      transition-duration: 250ms;
    }
  }
}

.modal-btn-add-to-shopinglist {
  border: 2px solid #4f2ee8;
  border-radius: 50px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--font-color);
  background: var(--modal-body-color);
  cursor: pointer;
}

.modal-btn-add-to-shopinglist:hover {
  color: #fff;
  background-color: #4f2ee8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-add-to-shopinglist.disabled:hover {
  background-color: gray;
  opacity: 0.5;
  cursor: not-allowed;
  color: #111;
}
.modal-btn-add-to-shopinglist.disabled:hover {
  background-color: transparent;
  opacity: 0.5;
  cursor: not-allowed;
  color: #fff;
}

.about-book-close-btn {
  padding: 0;
  position: absolute;
  top: 12px;
  right: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-body-color);
  border: none;
  fill: var(--header-border-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: var(--font-color);
}

.about-book-close-btn:hover {
  fill: #4f2ee8;
}

.about-book-close-btn-icon {
  width: 24px;
  height: 24px;
}

.about-book-add-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.under-button-text {
  width: 375px;
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
  letter-spacing: -0.04em;
  color: var(--all-categories-list-text);
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .about-book-window {
    padding: 40px;
    width: 579px;
  }
  .about-book-render-book {
    display: flex;
  }
  .popup-book-image {
    width: 192px;
  }
  .popup-book-author {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .popup-book-title {
    font-size: 24px;
    line-height: 28px;
  }
  .popup-book-review {
    margin-bottom: 20px;
  }
  .modal-btn-add-to-shopinglist {
    width: 499px;
    font-size: 18px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .popup-about-book-close-btn {
    top: 24px;
    right: 24px;
  }
  .about-book-close-btn-icon {
    width: 28px;
    height: 28px;
  }
}
