:root {
  --header-color: #111;
  --body-color: #202024;
  --yellow: #eac645;
  --violet: #4f2ee8;
  --font-color: #ffffff;
  --header-border-color: #fff;
  --modal-body-color: #202024;
  --all-categories-title-and-hover: #eac645;
  --all-categories-list-text: rgba(255, 255, 255, 0.6);
  --shopping-list-default-text: rgba(255, 255, 255, 0.6);
}

body {
  background: var(--body-color);
}
