:root {
  --header-color: #fff;
  --body-color: #f6f6f6;
  --font-color: #111;
  --header-border-color: #111;
  --modal-body-color: #fff;
  --all-categories-title-and-hover: #4f2ee8;
  --all-categories-list-text: rgba(17, 17, 17, 0.6);
  --all-categories-scroll-color: #e0e0e0;
  --shopping-list-default-text: rgba(0, 0, 0, 0.6);
}

body {
  background: var(--body-color);
}
