:root {
  --header-color: #fff;
  --body-color: #e0e0e0;
  --yellow: #eac645;
  --violet: #4f2ee8;
  --font-color: #111;
  --all-categories-title-and-hover: #4f2ee8;
}

body {
  background: var(--body-color);
}
